<%- include('./partials/header') %>
<main>


  <div class="container-fluid">
    <div class="container text-center">
       <h1>HISTÓRIA</h1>
    <div class="row">
      <div class="col-sm-6 offset-sm-2 col-md-12 offset-md-0" id= "tituloCol2">
        <h3 id= "tituloHist"  class= "line" >A Pedra de Zethur</h3>
        <p>
        <h5> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</h5>
          </p>

        <p>
          <h5> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</h5>
            </p>

        <h3 id= tituloHist class= "line" >Fafinir</h3>
        
      </div>
    </div>

  </div>
  </div>
  </main>

  <footer>
    <%- include('./partials/footer') %>
  </footer>

  </body>
</html>