<%- include('./partials/header') %>
  <main>
      <div class="ui segment">
        <p>This is a mapa route</p>
      </div>
    </main>

    <footer>
      <%- include('./partials/footer') %>
    </footer>

    </body>
  </html>