  <%- include('./partials/header') %>
  <main>

    <div class="container-fluid">
        <div class="container text-center">
           <h1>PERSONAGENS</h1>
        <div class="row">
          <div class="col-md-5" id= "tituloCol1">
            <img src= "/img/lobo.png" id="personagens">
          </div>
          <div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0" id= "tituloCol2">
            <h3>Lobo da Floresta</h3>
            <h5> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </h5>
          </div>
        </div>

          <div class="row">
            <div class="col-md-5" id= "tituloCol1">
              <img src= "/img/lobo.png" id="personagens">
            </div>
            <div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0" id= "tituloCol2">
              <h3>Lobo da Floresta</h3>
              <h5> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </h5>
            </div>
          </div>

          <div class="row">
            <div class="col-md-5" id= "tituloCol1">
              <img src= "/img/lobo.png" id="personagens">
            </div>
            <div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0" id= "tituloCol2">
              <h3>Lobo da Floresta</h3>
              <h5> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </h5>
            </div>
          </div>

          <div class="row">
            <div class="col-md-5" id= "tituloCol1">
              <img src= "/img/lobo.png" id="personagens">
            </div>
            <div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0" id= "tituloCol2">
              <h3>Lobo da Floresta</h3>
              <h5> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </h5>
            </div>
          </div>

          <div class="row">
            <div class="col-md-5" id= "tituloCol1">
              <img src= "/img/lobo.png" id="personagens">
            </div>
            <div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0" id= "tituloCol2">
              <h3>Lobo da Floresta</h3>
              <h5> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </h5>
            </div>
          </div>

          <div class="row">
            <div class="col-md-5" id= "tituloCol1">
              <img src= "/img/lobo.png" id="personagens">
            </div>
            <div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0" id= "tituloCol2">
              <h3>Lobo da Floresta</h3>
              <h5> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </h5>
            </div>
          </div>

          <div class="row">
            <div class="col-md-5" id= "tituloCol1">
              <img src= "/img/lobo.png" id="personagens">
            </div>
            <div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0" id= "tituloCol2">
              <h3>Lobo da Floresta</h3>
              <h5> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </h5>
            </div>
          </div>

    </div>
    </div>
  </main>

  <footer>
      <%- include('./partials/footer') %>
  </footer>
